@model Web.ViewModels.BY.BYDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="studentAct">
    <div class="container">
        <h2 class="section-title">Банк данных одарённой молодежи</h2>

        <div class="d-flex">
            <div class="pb-3">
                <a class="rounded-btn" href="@Url.Action("Edit", "BY", new { id = Model.BankYouth.Id })">Редактировать</a>
            </div>
            <div class="ml-auto pb-3">
                <a class="rounded-outline-btn" href="@Url.Action("Print", "BY", new { id = Model.BankYouth.Id })">
                    <i class="fa fa-print"></i>
                    <span class="ml-1">Печать</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <h4 class="card-header text-center">Идентификационная карта студента</h4>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h6 class="card-title">ФИО Студента:</h6>
                                <p class="card-subtitle text-muted">@Model.BankYouth.Surname @Model.BankYouth.Firstname @Model.BankYouth.Patronymic</p>
                            </div>
                            <div>
                                <h6 class="card-title">Дата рождения:</h6>
                                <p class="card-subtitle text-muted text-right">@Model.BankYouth.DateOfBirthday.ToShortDateString()</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h6 class="card-title">Номер мобильного телефона:</h6>
                                <p class="card-subtitle text-muted">@Model.BankYouth.MobilePhone</p>
                            </div>

                            <div>
                                <h6 class="card-title">Электронная почта:</h6>
                                <p class="card-subtitle text-muted text-right">@Model.BankYouth.Email</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Информация о поступлении</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Год поступления: @Model.BankYouth.YearOfAddmission </li>
                            <li class="list-group-item"> Специальность: @Model.BankYouth.Speciality </li>
                            <li class="list-group-item"> Квалификация: @Model.BankYouth.Qualification </li>
                        </ul>
                    </div>
                    @if (Model.BankYouth.IsExcellentStudent)
                    {
                        <div class="card-footer">
                            <p class="card-subtitle text-muted text-sm-center my-3 small">Баллы только "9" и "10" (или только одна отметка "8" по непрофильной учебной дисциплине)</p>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-3">
                    <h4 class="card-header text-center">Основание для включения</h4>

                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h6 class="card-title">Год включения в банк данных</h6>
                                <p class="card-subtitle text-muted">@Model.BankYouth.YearOfInclusion</p>
                            </div>
                            <div>
                                <h6 class="card-title">Средний балл:</h6>
                                <p class="card-subtitle text-muted text-right">@Model.BankYouth.AverageBall</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h6 class="card-title">Заслуги</h6>
                        <p class="card-subtitle text-muted">@Model.BankYouth.Merit</p>
                    </div>

                    <div class="card-body">
                        <h6 class="card-title">Поощрения спецфонда Президента Республики Беларусь</h6>
                        <p class="card-subtitle text-muted">@Model.BankYouth.Incentives</p>
                    </div>

                    <div class="card-body">
                        <h6 class="card-title">Научный руководитель</h6>
                        <p class="card-subtitle text-muted">@Model.BankYouth.Fullname, @Model.BankYouth.Post, @Model.BankYouth.AcademicDegree, @Model.BankYouth.AcademicStatus</p>
                    </div>

                    <div class="card-footer">
                        <h6 class="card-title">Протокол решения спецфонда </h6>
                        <p class="card-subtitle text-muted">№@Model.BankYouth.ProtocolNumber, @Model.BankYouth.ProtocolDate.ToShortDateString()</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Перечень публикаций
                                        </button>
                                    </h5>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#publicationModalCenter">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    @foreach (var item in Model.Publications)
                                    {
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div class="mr-auto">
                                                    <a href="@Url.Action("DownloadPublication","BY",new { id = item.Id })">
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                        <span class="ml-1">@item.Filename</span>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="@Url.Action("DeletePublication","BY",new { id = item.Id })">
                                                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Документы о внедрении результатов НИР
                                        </button>
                                    </h5>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#documentationModalCenter">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    @foreach (var item in Model.Documentations)
                                    {
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div class="mr-auto">
                                                    <a href="@Url.Action("DownloadDocumentation","BY",new { id = item.Id })">
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                        <span class="ml-1">@item.Filename</span>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="@Url.Action("DeleteDocumentation","BY",new { id = item.Id })">
                                                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            Награды и другие достижения
                                        </button>
                                    </h5>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#awardModalCenter">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    @foreach (var item in Model.Awards)
                                    {
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div class="mr-auto">
                                                    <a href="@Url.Action("DownloadAward","BY",new { id = item.Id })">
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                        <span class="ml-1">@item.Filename</span>
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="@Url.Action("DeleteAward","BY",new { id = item.Id })">
                                                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="publicationModalCenter" tabindex="-1" role="dialog" aria-labelledby="publicationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="publicationModalLongTitle">Загрузка публикации</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AttachPublication", "BY", FormMethod.Post, new { id = "attachPub", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.BankYouth.Id, htmlAttributes: new { id = "Id", Name = "Model.BankYouth.Id" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.PublicationModel.Description, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.PublicationModel.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Name = "Model.PublicationModel.Description" } })
                                @Html.ValidationMessageFor(model => model.PublicationModel.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.PublicationModel.PublicationFiles, htmlAttributes: new { @class = "control-label" })
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputFile" onchange="" name="Model.PublicationModel.PublicationFiles" lang="ru" required accept=".pdf, .xls, .xlsx, .doc, .docx, .txt">
                                <label class="custom-file-label" for="inputFile">Выберите загружаемые файлы</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer my-3">
                        <button type="button" class="rounded-outline-btn" data-dismiss="modal">Отмена</button>
                        <button type="submit" id="btnAttachPub" class="rounded-btn">Загрузить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="documentationModalCenter" tabindex="-1" role="dialog" aria-labelledby="documentationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentationModalLongTitle">Загрузка публикации</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AttachDocumentation", "BY", FormMethod.Post, new { id = "attachDoc", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.BankYouth.Id, htmlAttributes: new { id = "Id", Name = "Model.BankYouth.Id" })

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.DocumentationModel.Description, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DocumentationModel.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Name = "Model.DocumentationModel.Description" } })
                                    @Html.ValidationMessageFor(model => model.DocumentationModel.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DocumentationModel.RegDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DocumentationModel.RegDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Name = "Model.DocumentationModel.RegDate" } })
                                    @Html.ValidationMessageFor(model => model.DocumentationModel.RegDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.DocumentationModel.RegNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DocumentationModel.RegNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Name = "Model.DocumentationModel.RegNumber" } })
                                    @Html.ValidationMessageFor(model => model.DocumentationModel.RegNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.DocumentationModel.DocumentationFiles, htmlAttributes: new { @class = "control-label" })
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputFile" onchange="" name="Model.DocumentationModel.DocumentationFiles" lang="ru" multiple required accept=".pdf, .xls, .xlsx, .doc, .docx, .txt">
                                    <label class="custom-file-label" for="inputFile">Выберите загружаемые файлы</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer my-3">
                        <button type="button" class="rounded-outline-btn" data-dismiss="modal">Отмена</button>
                        <button type="submit" id="btnAttachDoc" class="rounded-btn">Загрузить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="awardModalCenter" tabindex="-1" role="dialog" aria-labelledby="awardModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="awardModalLongTitle">Загрузка публикации</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AttachAward", "BY", FormMethod.Post, new { id = "attachAward", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.BankYouth.Id, htmlAttributes: new { id = "Id", Name = "Model.BankYouth.Id" })

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.AwardModel.Description, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.AwardModel.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Name = "Model.AwardModel.Description" } })
                                    @Html.ValidationMessageFor(model => model.AwardModel.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.AwardModel.Date, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.AwardModel.Date, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", Name = "Model.AwardModel.Date" } })
                                    @Html.ValidationMessageFor(model => model.AwardModel.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.AwardModel.AwardFiles, htmlAttributes: new { @class = "control-label" })
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputFile" onchange="" name="Model.AwardModel.AwardFiles" lang="ru" multiple required accept=".pdf, .xls, .xlsx, .doc, .docx, .txt">
                                    <label class="custom-file-label" for="inputFile">Выберите загружаемые файлы</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer my-3">
                        <button type="button" class="rounded-outline-btn" data-dismiss="modal">Отмена</button>
                        <button type="button" id="btnAttachDoc" class="rounded-btn">Загрузить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/app/file-input.js"></script>
    <script src="~/Scripts/app/by/datatables.js"></script>
    <script src="~/Scripts/app/by/awards.data.js"></script>
    <script src="~/Scripts/app/by/documentation.data.js"></script>
    <script src="~/Scripts/app/by/publication.data.js"></script>
}